body {
	background-color: #E5E5E5;
}

.imgAlura {
	margin: 30px 0 30px 60px;
}

.principal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 800px;
}

.contenedorEsribir {
	width: 45%;
	display: flex;
	flex-direction: column;
	margin: 0 0 0 15%;
}

.contenedorResultado {
	width: 40%;	
}

.textoIngrese {
	height: 75%;
	margin-top: 5%;
}

.textoIngrese textarea {
	color: #0A3871;
	font-size: 32px;
	border: none;
	background-color: #E5E5E5;
}

.textoIngrese textarea::placeholder {
	color: #0A3871;
}

.botones {
	height: 19%;
}

.textoAyuda{
	display: flex;
	flex-direction: row;
	margin-bottom: 1%;
}

.textoAyuda p {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	color: #495057;
	opacity: 0.8;
	margin-left: 20px;
}

.botones button {
	width: 328px;
	height: 67px;
	border-radius: 24px;
	cursor: pointer;
}

#botonEncriptar {
	background-color: #0A3871;
	color: white;
	border: none;
	margin-right: 24px;
}

#botonDesencriptar {
	background-color: #D8DFE8;
	border: 1px solid #0A3871;
}

.contenedorDerecha {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90%;
	width: 42%;
	background-color: white;
	border-radius: 32px;
	text-align: center;
}

.contenedorDerecha img {
	margin: 0 0 10px;
	width: 306px;
	height: 274px;
}

.contenedorDerecha h1 {
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	color: #343A40;
	margin: 0 0 10px;
}

.contenedorDerecha p {
	font-size: 16px;	
	font-style: normal;
	font-weight: 400;
}

#spanEscribe {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#botonCopiar {
	border-radius: 24px;
	cursor: pointer;
	background-color: #D8DFE8;
	border: 1px solid #0A3871;
	width: 250px;
	height: 67px;
	margin-top: 15px;
}

@media screen and (max-width:1366px){
	.principal {
		height: 400px;
	}
	#botonEncriptar {
		margin-bottom: 10px;
	}
	.contenedorDerecha {
		width: 50%;
		height: 500px;
	}
	.contenedorDerecha img {
		width: 200px;
		height: 180px;
	}
}

@media screen and (max-width:940px){
	#botonEncriptar {
		margin-bottom: 10px;
	} 
	.contenedorEsribir {
		width: 50%;
		
	}
	.contenedorResultado {
		width: 50%;
	}
	.contenedorDerecha {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 90%;
		width: 75%;
		background-color: white;
		border-radius: 32px;
		text-align: center;
	}
	.contenedorDerecha img {
		margin: 0 0 10px;
		width: 200px;
		height: 200px;
	}
	.contenedorDerecha h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		color: #343A40;
	}
	.contenedorDerecha p {
		font-size: 16px;	
		font-style: normal;
		font-weight: 400;
	}
}


@media screen and (max-width:480px){
	#botonCopiar {
		width: 100px;
	}
	.contenedorEsribir {
		width: 80%;
	}
	.contenedorResultado {
		width: 20%;
	}
}